<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Todo-list</title>
</head>
<body>
    
    <div id="app">
        <div class="todo-input-wrapper">
            <input type="text" v-model="newTodo" @keyup.enter="addTodo">
            <input type="button" value="add" @click="addTodo" >
        </div>
    

        <div class="list-wrapper">
            <ul class="todo-list">
                <li class="todo" v-for="(el,index) in todoList" @click="doneEvent(el.done)">
                    <span :class=" el.done == true ? 'line-through' : '' "> {{ el.text }} </span>
                    <i class="fa-solid fa-xmark" @click="deleteTodo(index)"></i>
                </li>
                
            </ul>
        </div>
        
    </div>

    <script src="js/app.js"></script>
</body>
</html>